# Dog Adoption

Create and build data model and deploy into database with Python and PostgreSQL

In [10]:
# Import library

import psycopg2
import pandas as pd

In [11]:
# Create function to create database

def create_database():
    # Connect to database
    conn = psycopg2.connect("host=127.0.0.1 dbname=postgres user=postgres password=postgres")
    # Use connection to get cursor to execute queries
    cur = conn.cursor()
    # Set automatic commit
    conn.set_session(autocommit=True)
    
    # Create database
    cur.execute("DROP DATABASE IF EXISTS dog_adoption")
    cur.execute("CREATE DATABASE dog_adoption")
    
    # Close connection to default database
    conn.close()
    
    # Connect to newly created database
    conn = psycopg2.connect("host=127.0.0.1 dbname=dog_adoption user=postgres password=postgres")
    # Use connection to get cursor to execute queries
    cur = conn.cursor()
    # Set automatic commit
    conn.set_session(autocommit=True)
    
    return cur, conn

In [12]:
# Create function to drop table

def drop_tables(cur, conn):
    for query in drop_table_queries:
        cur.execute(query)
        conn.commit

In [13]:
# Create function to create table

def create_table(cur, conn):
    for query in create_table_queries:
        cur.execute(query)
        conn.commit

In [21]:
# description.csv - File containing the description and details of the dog breed and more
description = pd.read_csv(r"C:\Users\lasis\Downloads\archive (3)\allDogDescriptions.csv")
description.head(10)

,index,id,org_id,url,type.x,species,breed_primary,breed_secondary,breed_mixed,breed_unknown,...,status,posted,contact_city,contact_state,contact_zip,contact_country,stateQ,accessed,type.y,description
0,0,46042150,NV163,https://www.petfinder.com/dog/harley-46042150/...,Dog,Dog,American Staffordshire Terrier,Mixed Breed,True,False,...,adoptable,2019-09-20T16:37:59+0000,Las Vegas,NV,89147,US,89009,2019-09-20,Dog,Harley is not sure how he wound up at shelter ...
1,1,46042002,NV163,https://www.petfinder.com/dog/biggie-46042002/...,Dog,Dog,Pit Bull Terrier,Mixed Breed,True,False,...,adoptable,2019-09-20T16:24:57+0000,Las Vegas,NV,89147,US,89009,2019-09-20,Dog,6 year old Biggie has lost his home and really...
2,2,46040898,NV99,https://www.petfinder.com/dog/ziggy-46040898/n...,Dog,Dog,Shepherd,NaN,False,False,...,adoptable,2019-09-20T14:10:11+0000,Mesquite,NV,89027,US,89009,2019-09-20,Dog,Approx 2 years old.\n Did I catch your eye? I ...
3,3,46039877,NV202,https://www.petfinder.com/dog/gypsy-46039877/n...,Dog,Dog,German Shepherd Dog,NaN,False,False,...,adoptable,2019-09-20T10:08:22+0000,Pahrump,NV,89048,US,89009,2019-09-20,Dog,NaN
4,4,46039306,NV184,https://www.petfinder.com/dog/theo-46039306/nv...,Dog,Dog,Dachshund,NaN,False,False,...,adoptable,2019-09-20T06:48:30+0000,Henderson,NV,89052,US,89009,2019-09-20,Dog,Theo is a friendly dachshund mix who gets alon...
5,5,46039304,NV184,https://www.petfinder.com/dog/oliver-46039304/...,Dog,Dog,Boxer,Beagle,True,False,...,adoptable,2019-09-20T06:43:59+0000,Henderson,NV,89052,US,89009,2019-09-20,Dog,Oliver was born around mid-June and came to us...
6,6,46039303,NV184,https://www.petfinder.com/dog/macadamia-460393...,Dog,Dog,Italian Greyhound,Chihuahua,True,False,...,adoptable,2019-09-20T06:42:30+0000,Henderson,NV,89052,US,89009,2019-09-20,Dog,Macadamia was born around July 8th and donât...
7,7,46039302,NV184,https://www.petfinder.com/dog/dodger-46039302/...,Dog,Dog,Cattle Dog,NaN,True,False,...,adoptable,2019-09-20T06:40:08+0000,Henderson,NV,89052,US,89009,2019-09-20,Dog,"Dodger is a handsome, smart Heeler mix who was..."
8,8,46039301,NV184,https://www.petfinder.com/dog/huckleberry-4603...,Dog,Dog,Cattle Dog,NaN,True,False,...,adoptable,2019-09-20T06:37:05+0000,Henderson,NV,89052,US,89009,2019-09-20,Dog,Huckleberry is a friendly girl who was born Ma...
9,9,46038709,NV184,https://www.petfinder.com/dog/fagin-46038709/n...,Dog,Dog,Cattle Dog,NaN,True,False,...,adoptable,2019-09-20T05:00:51+0000,Henderson,NV,89052,US,89009,2019-09-20,Dog,"Fagin was born on May 26th and is a smart, inq..."

In [22]:
description = description.drop(['type.x', 'species', 'type.y'], axis =1)

description.tail()

,index,id,org_id,url,breed_primary,breed_secondary,breed_mixed,breed_unknown,color_primary,color_secondary,...,name,status,posted,contact_city,contact_state,contact_zip,contact_country,stateQ,accessed,description
58175,58175,44605893,WY20,https://www.petfinder.com/dog/tren-44605893/wy...,Border Collie,NaN,False,False,"Tricolor (Brown, Black, & White)",NaN,...,Tren,adoptable,2019-05-03T14:23:49+0000,Lander,WY,82520,US,WY,2019-09-20,"Due to the small size of our volunteer base, w..."
58176,58176,44457061,WY24,https://www.petfinder.com/dog/harley-44457061/...,Australian Shepherd,Australian Cattle Dog / Blue Heeler,True,False,NaN,NaN,...,Harley,adoptable,2019-04-13T16:20:24+0000,Riverton,WY,82501,US,WY,2019-09-20,NaN
58177,58177,42865848,WY20,https://www.petfinder.com/dog/echo-42865848/wy...,Border Collie,NaN,False,False,NaN,NaN,...,Echo,adoptable,2018-09-27T04:18:56+0000,Glenrock,WY,82637,US,WY,2019-09-20,"Due to the small size of our volunteer base, w..."
58178,58178,42734734,WY24,https://www.petfinder.com/dog/simon-42734734/w...,Boxer,Mixed Breed,True,False,NaN,NaN,...,Simon,adoptable,2018-09-12T05:03:38+0000,Riverton,WY,82501,US,WY,2019-09-20,NaN
58179,58179,42663515,WY24,https://www.petfinder.com/dog/romeo-42663515/w...,Labrador Retriever,Pit Bull Terrier,True,False,NaN,NaN,...,Romeo,adoptable,2018-09-03T20:42:24+0000,Riverton,WY,82501,US,WY,2019-09-20,NaN

In [43]:
description = description.drop(['breed_mixed', 'breed_unknown', 'house_trained', 'declawed', 'special_needs', 'shots_current','env_children',
                            'env_dogs','env_cats','accessed','description'
                                ], axis =1)

description.shape

(58180, 22)

In [50]:


description.shape

(58180, 21)

In [17]:
# travel.csv - File containing the description and details of the dog breed and more
travel = pd.read_csv(r"C:\Users\lasis\Downloads\archive (3)\dogTravel.csv")
travel.head()

,index,id,contact_city,contact_state,description,found,manual,remove,still_there
0,0,44520267,Anoka,MN,Boris is a handsome mini schnauzer who made hi...,Arkansas,NaN,NaN,NaN
1,1,44698509,Groveland,FL,Duke is an almost 2 year old Potcake from Abac...,Abacos,Bahamas,NaN,NaN
2,2,45983838,Adamstown,MD,Zac Woof-ron is a heartthrob movie star lookin...,Adam,Maryland,NaN,NaN
3,3,44475904,Saint Cloud,MN,~~Came in to the shelter as a transfer from an...,Adaptil,NaN,True,NaN
4,4,43877389,Pueblo,CO,Palang is such a sweetheart. She loves her peo...,Afghanistan,NaN,NaN,NaN

In [19]:
travel = travel.drop(['remove','still_there'], axis = 1)

travel.head()

,index,id,contact_city,contact_state,description,found,manual
0,0,44520267,Anoka,MN,Boris is a handsome mini schnauzer who made hi...,Arkansas,NaN
1,1,44698509,Groveland,FL,Duke is an almost 2 year old Potcake from Abac...,Abacos,Bahamas
2,2,45983838,Adamstown,MD,Zac Woof-ron is a heartthrob movie star lookin...,Adam,Maryland
3,3,44475904,Saint Cloud,MN,~~Came in to the shelter as a transfer from an...,Adaptil,NaN
4,4,43877389,Pueblo,CO,Palang is such a sweetheart. She loves her peo...,Afghanistan,NaN

In [52]:
travel.columns

travel.shape

(6194, 7)

In [20]:
# location.csv - File containing the dogs' current location
location = pd.read_csv(r"C:\Users\lasis\Downloads\archive (3)\movesByLocation.csv")
location.head()

   index        location  exported  imported   total  inUS
0      0           Texas     635.0       NaN   566.0  True
1      1         Alabama     268.0       2.0  1428.0  True
2      2  North Carolina     158.0      14.0  2627.0  True
3      3  South Carolina     139.0      12.0  1618.0  True
4      4         Georgia     137.0      19.0  3479.0  True

In [53]:
location.shape

(90, 6)

In [54]:
Total = location['exported'].sum()
print(Total)

2460.0

In [55]:
Total = location['imported'].sum()
print(Total)

2460.0

In [24]:
cur, conn = create_database()

In [30]:
description.head

,index,id,org_id,url,breed_primary,breed_secondary,breed_mixed,breed_unknown,color_primary,color_secondary,...,name,status,posted,contact_city,contact_state,contact_zip,contact_country,stateQ,accessed,description
0,0,46042150,NV163,https://www.petfinder.com/dog/harley-46042150/...,American Staffordshire Terrier,Mixed Breed,True,False,White / Cream,Yellow / Tan / Blond / Fawn,...,HARLEY,adoptable,2019-09-20T16:37:59+0000,Las Vegas,NV,89147,US,89009,2019-09-20,Harley is not sure how he wound up at shelter ...
1,1,46042002,NV163,https://www.petfinder.com/dog/biggie-46042002/...,Pit Bull Terrier,Mixed Breed,True,False,Brown / Chocolate,White / Cream,...,BIGGIE,adoptable,2019-09-20T16:24:57+0000,Las Vegas,NV,89147,US,89009,2019-09-20,6 year old Biggie has lost his home and really...
2,2,46040898,NV99,https://www.petfinder.com/dog/ziggy-46040898/n...,Shepherd,NaN,False,False,Brindle,NaN,...,Ziggy,adoptable,2019-09-20T14:10:11+0000,Mesquite,NV,89027,US,89009,2019-09-20,Approx 2 years old.\n Did I catch your eye? I ...
3,3,46039877,NV202,https://www.petfinder.com/dog/gypsy-46039877/n...,German Shepherd Dog,NaN,False,False,NaN,NaN,...,Gypsy,adoptable,2019-09-20T10:08:22+0000,Pahrump,NV,89048,US,89009,2019-09-20,NaN
4,4,46039306,NV184,https://www.petfinder.com/dog/theo-46039306/nv...,Dachshund,NaN,False,False,NaN,NaN,...,Theo,adoptable,2019-09-20T06:48:30+0000,Henderson,NV,89052,US,89009,2019-09-20,Theo is a friendly dachshund mix who gets alon...

Create tables
This process creates empty table only.

In [31]:
create_description_table = ("""CREATE TABLE IF NOT EXISTS description \
                (index INT PRIMARY KEY, id INT, org_id VARCHAR, url VARCHAR, breed_primary VARCHAR, \
                breed_secondary VARCHAR, color_primary VARCHAR, color_secondary VARCHAR, color_tertiary VARCHAR, \
                age VARCHAR, sex VARCHAR, size VARCHAR, coat VARCHAR, name VARCHAR, status VARCHAR, \
                posted VARCHAR, contact_city VARCHAR, contact_state VARCHAR, contact_zip VARCHAR, \
                contact_country VARCHAR, stateQ VARCHAR)""")

In [32]:
cur.execute(create_description_table)
conn.commit()

In [34]:
create_travel_table = ("""CREATE TABLE IF NOT EXISTS travel \
                (index INT PRIMARY KEY, id INT, contact_city VARCHAR, contact_state VARCHAR, \
                description VARCHAR, found VARCHAR, manual VARCHAR)""")

cur.execute(create_travel_table)
conn.commit()

In [33]:
travel.head()

,index,id,contact_city,contact_state,description,found,manual
0,0,44520267,Anoka,MN,Boris is a handsome mini schnauzer who made hi...,Arkansas,NaN
1,1,44698509,Groveland,FL,Duke is an almost 2 year old Potcake from Abac...,Abacos,Bahamas
2,2,45983838,Adamstown,MD,Zac Woof-ron is a heartthrob movie star lookin...,Adam,Maryland
3,3,44475904,Saint Cloud,MN,~~Came in to the shelter as a transfer from an...,Adaptil,NaN
4,4,43877389,Pueblo,CO,Palang is such a sweetheart. She loves her peo...,Afghanistan,NaN

In [35]:
location.dtypes

index         int64
location     object
exported    float64
imported    float64
total       float64
inUS           bool
dtype: object

In [37]:
create_location_table = ("""CREATE TABLE IF NOT EXISTS location \
                (index INT PRIMARY KEY, location VARCHAR, exported FLOAT, imported FLOAT, \
                total FLOAT, inUS BOOL)""")

cur.execute(create_location_table)
conn.commit()

In [36]:
location.head()

   index        location  exported  imported   total  inUS
0      0           Texas     635.0       NaN   566.0  True
1      1         Alabama     268.0       2.0  1428.0  True
2      2  North Carolina     158.0      14.0  2627.0  True
3      3  South Carolina     139.0      12.0  1618.0  True
4      4         Georgia     137.0      19.0  3479.0  True

Insert rows into table

In [51]:
insert_description_table = ("""INSERT INTO description \
                (index, id, org_id, url, breed_primary, breed_secondary, \
                color_primary, color_secondary, color_tertiary, \
                age, sex, size, coat, name, status, \
                posted, contact_city, contact_state, contact_zip, \
                contact_country, stateQ)
                VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, \
                 %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)""")



# Iterating through index (i) and rows in description table
for i, row in description.iterrows():
    # Pass INSERT INTO query in cur.execute() and list of data
    cur.execute(insert_description_table, list(row))

In [42]:
insert_travel_table = ("""INSERT INTO travel \
                (index, id, contact_city, contact_state, \
                description, found, manual)
                VALUES (%s, %s, %s, %s, %s, %s, %s)""")

for i, row in travel.iterrows(): # Iterating row by row in description table
    cur.execute(insert_travel_table, list(row))

In [41]:
insert_location_table = ("""INSERT INTO location \
                (index, location, exported, imported, \
                total, inUS)
                VALUES (%s, %s, %s, %s, %s, %s)""")

for i, row in location.iterrows(): # Iterating row by row in description table
    cur.execute(insert_location_table, list(row))